/* style.css */

html {
    max-width: 940px;
    margin: auto;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Barlow', 'Roboto', sans-serif; 
    line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}
    
h1, 
h2,
h3,
h4,
h5,
h6 {
    color:cadetblue; 
    font-weight:bold;
}

h1 {
    border: 8px double pink;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
}


hr {
    border: 3px solid pink;
    margin: 3em 0 1em;
}

strong {
    color:firebrick;
}

.img {
    display: block;
    margin: 40px auto;
    height: auto;
    width: 400px;
}

/* Text indentation */

.tab {
    margin-left: 1.5em;
}
